*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #222;
    color: white;
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li{
    margin-left: 20px;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

.hero{
    height: 500px;
    background:url("image2.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.categories{
    padding: 50px;
    text-align: center;
    background: #f5f5f5;
}

.categories h2{
    margin-bottom: 30px;
    font-size: 32px;
}

.category-box{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card{
    width: 250px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.card img{
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.card h3{
    margin: 15px 0;
}

.card a{
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 20px;
    background: #222;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.card a:hover{
    background: #ff6600;
}

/* Men Section */

.men{
    padding:60px;
    background:#ffffff;
    text-align:center;
}

.men h2{
    font-size:35px;
    margin-bottom:30px;
}

.men-box{
    display:flex;
    justify-content:center;
    gap:25px;
    flex-wrap:wrap;
}

.bag-card{
    width:280px;
    background:#f8f8f8;
    border-radius:10px;
    box-shadow:0px 0px 10px rgba(0,0,0,0.2);
    overflow:hidden;
    transition:0.3s;
}

.bag-card:hover{
    transform:scale(1.05);
}

.bag-card img{
    width:100%;
    height:250px;
    object-fit:cover;
}

.bag-card h3{
    margin:15px 0;
}

.bag-card p{
    padding:0 15px;
    color:#555;
}

.bag-card h4{
    color:#e63946;
    margin:15px;
}

.bag-card button{
    background:#222;
    color:white;
    border:none;
    padding:10px 20px;
    margin-bottom:20px;
    cursor:pointer;
    border-radius:5px;
}

.bag-card button:hover{
    background:#ff6600;
}
